@use '../../../styles/globals' as *;

.c-skip-links {
    $root: &;
    position: fixed;
    width: 100%;
    height: 24px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a#{$root}__link {
        display: block;
        background-color: $cl-white;
        padding: 0 rem(8px) rem(4px) !important;
        color: $cl-black;
        font-weight: 600 !important;
        text-decoration: underline;
    }
    a#{$root}__link::after {
        display: inline-block;
        content: '🏃';
        text-decoration: none;
    }
}
