@use '../../../styles/globals' as *;

.c-profile-certifications {
    $root: &;
    @include containerB(m);
    padding-top: rem(48px);

    & > h3:first-child {
        font-size: rem(22px);
        font-weight: 600;
    }

    & > ul {
        padding-top: rem(28px);
        display: flex;
        flex-flow: column;
        gap: rem(24px);
    }

    &__item {
        display: flex;
        gap: rem(16px);

        & > a:first-child {
            align-self: flex-start;

            & > img {
                max-width: 80px;
                aspect-ratio: 1 / 1;
            }
        }

        & > div:last-child {
            display: flex;
            flex-flow: column;
            gap: rem(4px);

            #{$root}__item-title {
                font-size: rem(18px);
                font-weight: 500;
                max-width: min($max-legible-chars, 50ch);
            }

            #{$root}__item-issuer {
                width: fit-content;
                font-size: rem(14px);
                color: $cl-gray;
                text-decoration: underline;
            }

            #{$root}__item-view-credential {
                width: fit-content;
                font-weight: 600;
                border: 2px solid $cl-black;
                border-radius: rem(16px);
                padding: rem(4px) rem(12px);
                margin-top: rem(8px);

                &::after {
                    content: $rocket;
                    margin-left: rem(4px);
                }
            }
        }
    }
}
