@use './styles/resets';
@use './styles/modules/sr-only';
@use './styles/modules/variables' as *;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $cl-white;
    color: $cl-black;
}
