@use '../../../styles/functions' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;
@use 'sass:math';

.c-profile-header {
    &__header {
        position: relative;
    }

    &__cover-image {
        $height-portrait: 100px;
        $height-landscape: 150px;
        display: block;
        width: 100%;
        height: $height-portrait;
        object-fit: cover;

        @include respond-orientation('landscape') {
            height: $height-landscape;
        }
    }

    &__profile-picture {
        $size-portrait: 100px;
        $size-landscape: 130px;
        display: block;
        width: $size-portrait;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 4px solid white;
        object-fit: contain;
        position: absolute;
        top: rem(40px);
        left: calc(50% - #{math.div($size-portrait, 2)});

        @include respond-orientation('landscape') {
            width: $size-landscape;
            top: rem(60px);
            left: calc(50% - #{math.div($size-landscape, 2)});
        }
    }

    &__bio {
        padding: rem(20px) rem(16px) 0;
        display: flex;
        flex-flow: column;
        gap: rem(4px);

        & > h1 {
            font-size: rem(24px);
            font-weight: 500;

            @include respond-below(m, 'landscape') {
                font-size: rem(28px);
                font-weight: 600;
            }
            @include respond-above(m) {
                font-size: rem(28px);
                font-weight: 600;
            }
        }

        & > h2 {
            @include respond-below(m, 'landscape') {
                font-size: rem(20px);
            }
            @include respond-above(m) {
                font-size: rem(20px);
            }
        }

        & > p {
            font-size: rem(14px);
            color: gray;

            @include respond-below(m, 'landscape') {
                font-size: rem(16px);
            }
            @include respond-above(m) {
                font-size: rem(16px);
            }
        }
    }

    &__contact-links {
        padding: rem(8px) rem(16px) 0;
        display: flex;
        gap: rem(4px);
        font-size: rem(14px);

        @include respond-below(m, 'landscape') {
            font-size: rem(16px);
        }
        @include respond-above(m) {
            font-size: rem(16px);
        }

        & > span:first-child {
            margin-right: rem(4px);
        }

        & > a {
            font-weight: 500;
            text-decoration: underline;
        }
    }
}
